<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.grammarpower.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        <activity
            android:name="com.android.grammarpower.activity.Grammar_Power_MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.android.grammarpower.activity.Grammar_Power_SelectActivity"
            android:label="@string/select_activity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.android.grammarpower.activity.QuizActivity_IrregularPast"
            android:label="@string/quiz_activity_IrregularPast"
            android:screenOrientation="portrait"            
            >
        </activity>
        <activity
            android:name="com.android.grammarpower.activity.QuizActivity_PhrasalVerbs"
            android:label="@string/quiz_activity_Pharasalverbs"
            android:screenOrientation="portrait"            
            >
        </activity>
        <activity
            android:name="com.android.grammarpower.activity.QuizActivity_NounPlural"
            android:label="@string/quiz_activity_Nounplural"
            android:screenOrientation="portrait"            
            >
        </activity>
        <activity
            android:name="com.android.grammarpower.activity.QuizActivity_Participles"
            android:label="@string/quiz_activity_IrregularParticiple"
            android:screenOrientation="portrait"            
            >
        </activity>
        <activity
            android:name="com.android.grammarpower.activity.QuizActivity_Preposition"
            android:label="@string/quiz_activity_PrepositionSelection"
            android:screenOrientation="portrait"            
            >
        </activity>
    </application>

</manifest>
